# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android-specific
android/app/local.properties
android/app/key.properties
android/app/*.keystore
android/app/*.jks
*.hprof

# IDE-specific
.idea/
.vscode/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Secrets
lib/config/secrets.dart
